<div class="container">
    <nav class="navbar fixed-top navbar-light bg-success" style="box-shadow: 0 0px 10px 1px rgba(0,0,0,1)">
        <span class="navbar-text text-light">dolla dolla bills - Registration</span>
    </nav>

    <div class="div mt-5 pt-5">
    </div>

    <form class="card">
        <div class="card-header">
            <h4>Input Information</h4>
        </div>
        <div class="card-body">

            <h5 class="pb-2">Basic Information</h5>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Name</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="" id="example-text-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Age</label>
                <div class="col-10">
                    <input class="form-control" type="number" value="0" id="example-number-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Financial Institution</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="" id="financial-institution">
                </div>
            </div>
            <hr />

            <h5 class="pb-2">Top 5 Financial Goals</h5>

            <div class="form-group row">
                <label for="example-text-input" class="col-1 col-form-label">Item 1</label>
                <div class="col-5">
                    <input class="form-control" type="text" value="" id="item-name-1">
                </div>

                <label for="example-text-input" class="col-2 col-form-label text-right">Get by age</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="0" id="item-age-1">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-1 col-form-label">Item 2</label>
                <div class="col-5">
                    <input class="form-control" type="text" value="" id="item-name-2">
                </div>
                <label for="example-text-input" class="col-2 col-form-label text-right">Get by age</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="0" id="item-age-2">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-1 col-form-label">Item 3</label>
                <div class="col-5">
                    <input class="form-control" type="text" value="" id="item-name-3">
                </div>

                <label for="example-text-input" class="col-2 col-form-label text-right">Get by age</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="0" id="item-age-3">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-1 col-form-label">Item 4</label>
                <div class="col-5">
                    <input class="form-control" type="text" value="" id="item-name-4">
                </div>
                <label for="example-text-input" class="col-2 col-form-label text-right">Get by age</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="0" id="item-age-4">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-1 col-form-label">Item 5</label>
                <div class="col-5">
                    <input class="form-control" type="text" value="" id="item-name-5">
                </div>
                <label for="example-text-input" class="col-2 col-form-label text-right">Get by age</label>
                <div class="col-4">
                    <input class="form-control" type="number" value="0" id="item-age-5">
                </div>
            </div>

            <hr />

            <h5 class="pb-2">10 Most Recent Purchases</h5>

            <div class="form-group row">
                <label for="example-text-input" class="col-1 col-form-label">Item 1</label>
                <label for="example-text-input" class="col-1 col-form-label">Category</label>
            </div>
        </div>
        <button routerLink="/main" class="btn btn-primary">Submit</button>
    </form>
</div>